@font-face {
  font-family: 'cc-icons';
  font-style: normal;
  font-weight: normal;
  src: url('https://mirrors.creativecommons.org/presskit/cc-icons.ttf') format('truetype');
}

.cc {
  font-family: 'cc-icons';
}
