html, body {
  width: 100%;
  height: 100%;
}
.sidebar-toggle-wrapper {
  background-color: transparent;
}
.canvas {
  min-height: 100vh;
}
.intro {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#masthead {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: rgba(238, 238, 238, 0.8);
}
#matrix {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.intro .inner {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
}
.intro-text {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  margin: 2rem auto;
  border-radius: 15px 50px 30px;
  padding: 3rem;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
}
.intro-title {
  text-align: center;
  color: #f0f0f0;
}
.intro-subtitle {
  text-align: center;
  color: #d0d0d0;
}
